@font-face {
    font-family: "Myriad";
    src: url("../../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Myriad-Web';
    src: url('../../fonts/Myriad-Web.woff') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }