

html {
    font-size: 16px;
}

body {
    font-family: "Myriad-Web", Arial, Helvetica, sans-serif;
    position: relative;
    background: url('../img/slider/back.jpg') center center / cover repeat;
    background: #233249;
    color: #ffffff
}

.container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;  
}


.container--header-width {
    width: 95%;
    padding-top: 20px;
}

.container--flex {
    flex-direction: column;
}

.container--space {
    justify-content: center;
    padding-bottom: 50px;
}

.container--column {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 25% 0 5%;
    font-size: 14px
}

.container--right {
    justify-content: flex-end;
    align-items: flex-end;
    padding:40px 30px 0 0 ;
}

.maincontent {
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.section {
    max-width: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
} 

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 10px 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, h7 {
    margin: 0;
}

