.services {
    background: url('../../img/services.png') center center /cover no-repeat;
}

/* title */
.services__title {
    text-align: center;
    margin-bottom: 30px;
    margin-right: auto;
}

.services__title:after {
    content: "";
    display: block;
    border-bottom: 4px solid  rgba(255, 255, 255, 0.7);
    width: 100%;
}

.services__title-text {
    font-style: 18px;
    margin-bottom: 10px;
}

/* financial-services*/

.financial-services {
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}



.financial-services__item {
    width: 33%;
    min-width: 260px;
    height: 260px;
    visibility: visible;
    animation-name: flipInY;
}

.financial-services__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.financial-services__button:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../../img/c2.png') center center / contain  no-repeat;
    z-index: 10;
}

.financial-services__button--color:after {
    background: url('../../img/c1.png') center center / contain  no-repeat;

}

.financial-services__button-img {
    position: relative;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 150px;
    height: 150px;
    z-index: 1;
    transition: all .5s;
}

.financial-services__button:hover .financial-services__button-img {
    transform: rotate(560deg)
}

.financial-services__button:active .financial-services__button-img {
    transform: scale(.9)
}

.financial-services__button-content {
    position: absolute;
    top: 45%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 11;
    width: 100px;
    text-align: center;
}


.financial-services__button-content-text {
    font-size: 10px;
    color: #233249;
}

.financial-services__button-content-text:before {
    content: "";
    display: block;
    background: url('../../icons/money.png') center center / contain no-repeat; 
    width: 100px;
    height: 50px;
}

.financial-services__button-content-text--2:before {
    background: url('../../icons/clock.png') center center / contain no-repeat; 

}

.financial-services__button-content-text--3:before {
    background: url('../../icons/dollar.png') center center / contain no-repeat; 

}

.financial-services__button-content-text--4:before {
    background: url('../../icons/konv.png') center center / contain no-repeat; 

}

.financial-services__button-content-text--5:before {
    background: url('../../icons/contract.png') center center / contain no-repeat; 

}

.financial-services__button-content-text--6:before {
    background: url('../../icons/hands.png') center center / contain no-repeat; 

}

/* button */

.stud {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 90px;
}

.services__title--left {
    margin-right: auto;
}



.stud-button__btn {
    border: none;
    border-radius: 30px;
    background: url('../../icons/button.png') center center / cover no-repeat;
    padding: 10px 20px;
    width: 370px;
    height: 90px;
    cursor: pointer;
}

.stud-button__btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}




