.footer {
    height: 170px;
    width: 100%;
    box-shadow: 7px -4px 9px 0px rgba(0, 0, 0, 0.23);
    background: url('../../img/footer.png') center center / cover no-repeat;
    color: #233249; 
}

.footer__contacts {
    text-align: right;
}

.footer__contacts-tel {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer__contacts-adress {
    font-size: 16px
}