.slider {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: 20px;
    padding-left: 9%;
    margin-bottom: 7%;
}

.slider__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* content */

.slider__title {
    margin-bottom: 25px;
}

.slider__title-text {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider__content {
    font-size: 14.4px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* buttons */

.slider__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 80px;
}

.button-more {
    position: relative;
    color: #233249;
    outline: none;
    cursor: pointer;
    transition: .3s;
    font-size: 14px
}

.button-more:after {
    content: "";
    display: block;
    padding-top: 10px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.7);
    transition: .3s;
}

.button-more:hover:after {
    border-bottom: 4px solid #233249;
}

.button-more:hover {
    color: rgba(255, 255, 255, 0.7);
}

/* order */

.button-order {
    position: relative;
    border: 4px solid #138677;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: transparent;
    color: #233249;
    outline: none;
    cursor: pointer;
    transition: .3s;
    color: #ffffff;
    font-size: 14px;
    z-index: 3;
}


.button-order {
    position: relative;
    -webkit-transition: color 500ms;
    transition: color 500ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.button-order:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: #21726a;
    border-radius: 25px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
}

.button-order:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/* img */

.slider__img {
    width: 150px;
    height: 100px;
}

.slider__img-pic {
    width: 100%;
    height: 100%;
}